body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(94, 140, 129);
}

.img-container {
    text-align: center;
}

.img-container img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px ;
    background-color: lightgray;
    width: 300px;
    height: 300px;
}

.btn {
    background-color: slateblue;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    cursor: pointer;
}

.btn:hover {
    opacity: .8;
}